<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/praticaII</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password"></property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="ad.model.Avaliacao"/>
    <mapping class="ad.model.AvaliacaoPessoaCargo"/>
    <mapping class="ad.model.Competencia"/>
    <mapping class="ad.model.PerguntaPessoaAvaliacao"/>
    <mapping class="ad.model.PessoasAvaliacao"/>
    <mapping class="ad.model.TipoCompetencia"/>
    <mapping class="cfg.model.Apelido"/>
    <mapping class="cfg.model.Bairro"/>
    <mapping class="cfg.model.Cidade"/>
    <mapping class="cfg.model.Conversa"/>
    <mapping class="cfg.model.Empresa"/>
    <mapping class="cfg.model.Endereco"/>
    <mapping class="cfg.model.Idioma"/>
    <mapping class="cfg.model.Log"/>
    <mapping class="cfg.model.Mensagem"/>
    <mapping class="cfg.model.MensagemPessoa"/>
    <mapping class="cfg.model.Parametro"/>
    <mapping class="cfg.model.Pessoa"/>
    <mapping class="cfg.model.RedeSocial"/>
    <mapping class="cfg.model.Repositorio"/>
    <mapping class="cfg.model.Usuario"/>
    <mapping class="csb.model.Beneficio"/>
    <mapping class="csb.model.BeneficiosCargo"/>
    <mapping class="csb.model.BeneficiosPessoa"/>
    <mapping class="csb.model.Cargo"/>
    <mapping class="csb.model.CargosPessoa"/>
    <mapping class="csb.model.Epi"/>
    <mapping class="csb.model.EpiCargo"/>
    <mapping class="csb.model.EquipamentosPessoa"/>
    <mapping class="csb.model.ExamePessoa"/>
    <mapping class="csb.model.Graduacao"/>
    <mapping class="csb.model.GraduacoesPessoa"/>
    <mapping class="csb.model.MotivoAlteracaoSalarial"/>
    <mapping class="csb.model.Salario"/>
    <mapping class="csb.model.Setor"/>
    <mapping class="csb.model.TipoExame"/>
    <mapping class="ff.model.Advertencia"/>
    <mapping class="ff.model.Dependente"/>
    <mapping class="ff.model.Falta"/>
    <mapping class="ff.model.Ferias"/>
    <mapping class="ff.model.FichaFuncional"/>
    <mapping class="fp.model.Evento"/>
    <mapping class="fp.model.EventoFolha"/>
    <mapping class="fp.model.EventoPadrao"/>
    <mapping class="fp.model.FaixaINSS"/>
    <mapping class="fp.model.FaixaIRRF"/>
    <mapping class="fp.model.Formula"/>
    <mapping class="fp.model.HistoricoFolha"/>
    <mapping class="fp.model.SerieEvento"/>
    <mapping class="fp.model.TabINSS"/>
    <mapping class="fp.model.TabelaIRRF"/>
    <mapping class="fp.model.TipoEvento"/>
    <mapping class="rs.model.AreaInteresse"/>
    <mapping class="rs.model.Certificacao"/>
    <mapping class="rs.model.Entrevista"/>
    <mapping class="rs.model.EntrevistaPessoa"/>
    <mapping class="rs.model.EntrevistaQuestionario"/>
    <mapping class="rs.model.EntrevistaQuestionarioResposta"/>
    <mapping class="rs.model.Pergunta"/>
    <mapping class="rs.model.PerguntaOpcao"/>
    <mapping class="rs.model.PessoaCertificacao"/>
    <mapping class="rs.model.PessoaCompetencia"/>
    <mapping class="rs.model.PessoaExperiencia"/>
    <mapping class="rs.model.PessoaFormacao"/>
    <mapping class="rs.model.PessoaIdioma"/>
    <mapping class="rs.model.PessoaLigacaoExterna"/>
    <mapping class="rs.model.PessoaRedeSocial"/>
    <mapping class="rs.model.Questionario"/>
    <mapping class="rs.model.Recrutamento"/>
    <mapping class="rs.model.RecrutamentoCargo"/>
    <mapping class="rs.model.RecrutamentoPessoa"/>
    <mapping class="td.model.Curso"/>
    <mapping class="td.model.Local"/>
    <mapping class="td.model.Solicitacao"/>
    <mapping class="td.model.Treinamento"/>
  </session-factory>
</hibernate-configuration>
